/*
Source - https://stackoverflow.com/a
Posted by Stephan T., modified by community. See post 'Timeline' for change history
Retrieved 2025-12-12, License - CC BY-SA 4.0
*/

body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 85%;
  width: 100%;
  float: right;
  position: absolute;
}